body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.container{
    width: 80%;
    margin: auto;
}
.hero{
    height: 90vh;
    /* position: relative;    */
}
*{
    box-sizing: border-box;
}

.card{
    width: 350px;
   border: 1px solid white;
   border-radius: 10px;
    background:rgba(128, 128, 128, 0.225);
    padding: 10px;
    position: absolute;
    top:calc(50% - 200px);
    left: calc(50% - 400px);
    backdrop-filter: blur(5px);
 
}
.video-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
hr{
    padding: 1px;
  background: white;
}
.arrow{
    position: absolute;
    right: 90vw;
    top: 300px;
    font-size: 50px;
    color: red;
    font-weight: bolder;
    transform: rotate(90deg);
   animation: arrow .5s infinite linear;
}
@keyframes arrow{
0%{
    left: 60vw;
    top: 70vh;
}
100%{
    left: 60vw;
   
}
/* nav bar */
}
nav{
    background: black;
    color:orange;
    position: sticky;
    top: 0;
    border: 1px solid  yellowgreen;
}
nav > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style-type: none;
}
/* image section */
.title{
    background: image();
   background: rgba(0, 0, 0, 0.542);
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40%;
  padding: 1.5rem .1rem;
  border-radius: 10px;
  backdrop-filter: blur(2px);
}
.paralax{
    background: rgba(128, 128, 128, 0.329);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 12px;

  

}
[class^="img"]{
    height: 60vh;
    justify-content: center;
    display: flex;
    align-items: center;
   
 
}
.img1{
    background: url(image.1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  
}
.img2{
    background: url(image2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.img3{
    background: url(image3.jpg);
    background-size: cover;
    background-attachment: fixed;
}
footer{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;


}